
body {
    margin: 20px;
    background-image: url("/statics/background.jpg")
}

.edit-btn {
    margin-top: 5px;
    margin-left: 10px;
    color: #30811b;
    cursor: pointer;
}


.op-btn-group {
    float: right;
}

.op-btn-group>button {
    margin: 10px;
}

#markdown-toc-header {
    border-width: 1px;
}

.drop-list a {
    padding: 1px
}

/* .article-table th {
    color: #c7c7c7;
}

.article-table td {
    color: #ffffff;
} */

.article-table a {
    /* color: #95f3d5; */
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif；
} 

.article-table {
    background-color: #f7edd9;
    padding: 10px;
    margin-top: 10px;
    border-radius:5px;
}

.article-head, .article-body{
    background-color: #f6f5f3b3;
    padding: 5px;
    border-radius:5px;
}

#markdown-toc-header, #markdown-toc-header a {
    /* background-color: #f6f5f3b3;
    padding: 5px;
    margin-bottom: 10px */
    /* color: black; */
    font-size: large;
    font-weight: bold;
    background-color: #b7a194
}

